$background: #f9f9f9;
$primary: #40a8df;
$borderColor: #c7c7c7;
$inputBackground: #fff;
$formBackground: #efefef;
$textColor: #505050;
$lightTextColor: #878787;
$inputTextColor: #333;
$placeholderTextColor: #b5b5b5;

$lightRed: #f44336;